:root {
  --primary: oklch(21.8% 0.008 223.9);
  --accent: oklch(37.8% 0.015 216);
  --secondary: oklch(45.7% 0.24 277.023);
  --text: oklch(92.5% 0.005 214.3);
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  font-size: 1rem;
  color: var(--text);
  background: var(--primary);
}

.memory-game {
  width: min(60em, min(90vw, 90vh));
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: min(1em, min(1.5vw, 1.5vh));
}

.card {
  position: relative;
  aspect-ratio: 1;
  perspective: 1000px;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.card-inside {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  backface-visibility: hidden;
  border-radius: min(0.25em, min(1.5vw, 1.5vh));
  box-shadow:
    0 0.25em 0.5em var(--shadow),
    inset 0 0 1em transparent;
  font-size: min(4rem, min(6vw, 6vh));
}

.card-front {
  background: var(--secondary);
}

.card-back {
  transform: rotateY(180deg);
  background: var(--accent);
}

.card-hidden {
  visibility: hidden;
}
